<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/user_base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
<link rel="stylesheet" href="" />
</head>
<body>
	<section>


		<div class="card mr-3 ml-3" th:if=${user}>
			<h1 class="text-center " style = background-color:#009688 !important;>User Details</h1>
			<div class="card-body" >

				<div class="container text-center">

					<img class="contact-profilepicture"
						style="height: 200px; width: 200px;"
						th:src="@{'/img/deafult.png' }" alt="no image found" />

					<h2 class="mt-2">
						<span th:text="${user.name}"></span>
					</h2>

					<table class="table">
						<thead>
							<tr>
								<th scope="col">#Id</th>
								<td scope="col">User<span th:text="${user.id}"></span></td>

							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Email</th>
								<td scope="col"><span th:text="${user.email}"></span></td>

							</tr>
							<tr>
								<th scope="row">Role</th>
								<td scope="col"><span th:text="${user.role}"></span></td>

							</tr>
							
						</tbody>
					</table>
					<div class="description">
						<th:block th:utext="${user.about}">
							</th>
					</div>
					<br>

					
					<!--

					<div class="container">
						<a class="btn btn-outline-danger btn-block" href="#"
							th:onclick="|deleteContact(${user.id})|">Delete</a> <a
							class="btn btn-outline-primary btn-block"
							th:href="@{'/user/'+${user.id}+'/edit'}">Edit</a>
					</div>
					
					
					  -->
				</div>
				

			</div>


			
		</div>
		
		<h1 class=" text-center p-3 bg-danger text-white" th:unless=${user}>you dont have permission to access this
				contact.</h1>
				
				
				<script>
		
		$(document).ready(()=>
		{
		$('.item').removeClass('active');
		$("#profile-link").addClass("active");
	});
		
		</script>
				
				
		

	</section>
</body>
</html>